<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <%# Replace this frame with a frame having the same id %>
  <%= turbo_frame_tag "create-new-blog-post" do %>
    <%= render "blog_posts_header" %>
  <% end %>
  <%# This conatiner will be used by turbo stream to prepend the newly created blog post %>
  <div id="blog_posts" class="min-w-full">
    <%= render @blog_posts %>
  </div>
</div>
